@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

* {
  font-family: 'Gowun Dodum', sans-serif;
}

.main {
  color: white;
  height: 400px;
  padding: 50px;
  font-size: 20px;

  background-image: url('https://poc-cf-image.cjenm.com/public/share/contentsmng/kr/%EB%88%88%EB%AC%BC%EC%9D%98%EC%97%AC%EC%99%95%EB%A9%94%EC%9D%B8banner1920_1709183131156.jpg?v=1709183131');
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
}
.inner {
  width: 1200px;
}
body {
  background-color: black;
}
.mycards {
  width: 1200px;
  margin: 20px auto 20px auto;
}
.mycards .card-img-top {
  height: 400px;
}
.mypostingbox {
  width: 500px;
  margin: 20px auto 20px auto;

  border: 1px solid white;
  padding: 20px;
  border-radius: 5px;
}
.form-floating > input {
  background-color: transparent;
}
.form-floating > input:focus {
  background-color: transparent;
}
.form-floating > label {
  color: white;
}

.input-group > label {
  background-color: transparent;
  color: white;
}
.mypostingbox > button {
  width: 100%;
}
